[2015-01-07 17:28] jaredpar opened #3 "Need to enforce explicit visibility modifiers"
This is a gap between our existing coding guidelines and tool implementation.

[2015-01-07 17:29] jaredpar opened #4 "Ensure Test coverage for the existing rules."
This is a gap between our coding guidelines and tool implementation.

[2015-01-07 20:42] jaredpar opened #6 "Need to enforce indentation guideline"

[2015-01-07 22:48] ellismg opened #7 "Should BuildToolsInternal.sln be renamed?"
It seems like CodeFormatter.sln is a better name, considering that this repro will only house CodeFormatter.

Thoughts?

[2015-01-07 23:06] #6 closed, assigned to nobody

[2015-01-07 23:18] ellismg opened #9 "build.cmd assumes you have Dev14 installed."
If we require having Dev14 installed to work on this tool, that's fine with me, I'll install it.  However it's different guidance than what we give for corefx and buildtools, IIRC.

[2015-01-07 23:24] #9 closed, assigned to nobody

[2015-01-07 23:47] #3 closed, assigned to jaredpar

[2015-01-08 15:51] #7 closed, assigned to nobody

[2015-01-08 16:07] jaredpar opened #12 "Validation mode"
The code formatter is great tool for getting code into the particular format desired by our guidelines.  That is great for helping developers meet our style guidelines but it does nothing for telling developers that they are failing to meet them.

We should add a validation mode to this tool such that it can become a part of a CI system.  A way to validate that new code doesn't violate the coding

[2015-01-08 16:18] jaredpar opened #13 "Visual Studio auto-formatting extension"
In it's current form the formatter operates as an extra step in the development process:
1. Write the code for my feature.
2. Run the formatter tool.
3. Send PR.

I would really like to remove item 2 as much as possible.  It's an extra step from what developers are doing today and I can very easily see it being labeled as a "style tax".

This tool shows coding guideline enforcement can be cheaply

[2015-01-08 17:14] Priya91 opened #14 "Add flags to the codeformatter to enable/disable rules from commandline."
This feature will be useful to control what rules are to be run from commandline.

[2015-01-08 18:46] ellismg opened #15 "Need rule to enforce namespace ordering."
Per the guidance:

We don't have rule enforcement here.  The tool itself currently has violations.

[2015-01-08 19:45] Priya91 opened #17 "Add .nuspec file and enable downloading package from nuget."

[2015-01-09 23:21] #17 closed, assigned to Priya91

[2015-01-10 12:20] stephentoub opened #19 ""m_" fields should be renamed regardless of visibility"
Some code bases use the "m_" prefix for internal fields. These should be renamed as with private fields.

[2015-01-10 12:27] stephentoub opened #20 "Rename fields referenced in comments"
Some code bases talk about field in comments. Currently when the code formatter renames a field, it doesn't update the comment.

[2015-01-13 20:29] mellinoe opened #21 "Consider providing built executable on GitHub "Releases" tab"
GitHub has some functionality where a "Release" can be made which contains some arbitrary binaries:

https://help.github.com/articles/about-releases/

Given that this is a console application, I think it would be pretty helpful if the fully-built executable was available right from the repository here, without having to clone, install dependencies, build, and run it. There also seems to be some AP

[2015-01-15 18:13] krwq opened #24 "[Suggestion] Change string literals to use explicit unicode number for special characters"
Replace special characters in string literals: i.e.: "asdadsśćę" with "asdads\u015B\u0107\u0119"

[2015-01-15 18:29] #24 closed, assigned to nobody

[2015-01-16 02:29] terrajobst opened #25 "Replace usage of `Console` with an API for returning errors/warnings"
See comments on 36eb5a025c26a2c5a441e4971f5131f1d7e60a60 for context.

I don't think we should print to the console from the library at all. If we want to support warnings, we should expose concept in the API layer. If we ever want to host the rules in some other environment (such as VS) printing to the raw console is less than ideal.

[2015-01-17 00:25] #21 closed, assigned to nobody

[2015-01-20 02:02] nslottow opened #26 "HasUsingsOutsideNamespace rule can introduce warning CS0105"
[code]

results in

[code]

`warning CS0105: The using directive for 'System' appeared previously in this namespace`

See nslottow@ef3bbba6a153f4168022f80e2b0702e8a68b728d

[2015-01-20 16:19] jaredpar opened #27 "Release ilmerged assembly"
Downloaded the most recent release today to format some code and noticed that the release ZIP is quite large.  It's roughly 1 exe and 15 dlls.

Personally, and maybe I'm wrong here, I had envisioned the command line tool as this little light weight tool that could be passed around for formatting code.  That's easy with an exe and maybe 1-2 dlls but 15 is too much.

I was wondering if we should Ilm

[2015-01-20 16:31] #27 closed, assigned to nobody

[2015-01-20 21:20] jaredpar opened #29 "Need to support multiple copyright headers"
The Roslyn source tree necessarily needs a different copyright header as it exists under a different license.  The code formatter tool needs to be updated to accommodate a variety of license.

[2015-01-21 19:51] jaredpar opened #33 "Performance"
I've spent the last two days running the tool over the Roslyn code base and it's unfortunately a bit slow.  The tool seems to be taking ~30 seconds per file in the code base (for anything but trivial files).  This is hampering my efforts to port the code base and presumably will affect other code bases in the future.

After a lot of profiling it seems the GC is dominating performance here.  In par

[2015-01-23 19:30] jaredpar opened #35 "Adjust comments during field rename"
Consider the following field definition:

[code]

After formatting we end up with:

[code]

Before the tool ran the comments were aligned and after they are not.  I think the tool should account for this by detecting this pattern and adjusting the white space after the definition and before the comment to keep the spacing the same.

[2015-01-23 19:38] jaredpar opened #36 "Removing blank lines before comments"
Consider this pattern:

[code]

The formatting tool will remove the blank line between the function invocation and the comment.  It should be keeping this blank line.  It is allowed by the guidelines.

[2015-01-23 19:45] jaredpar opened #37 "Method for opting out of formatting"
Consider the case of unicode character tables in code.  Tables of this nature are usually carefully formatted for white space to increase the readability of the table.  This white space is insignificant to the programmer and in most cases should be removed for uniformity.  In the case of tables though formatting can become important.

I think we should allow a way for developers to opt out of form

[2015-01-23 19:48] #33 closed, assigned to jaredpar

[2015-01-23 20:01] #25 closed, assigned to nobody

[2015-01-23 21:13] jaredpar opened #38 "Better formatting of #if directives"
Today the formatter attempts to format code which is inside a `#if false`.  It does this by changing the set of preprocessor names to be anything that is defined in the file and running `Formatter` several times.

This is not a safe operation to do in a formatter.  There is no guarantee the code inside the `#if false` directives is valid.  Running the formatter against invalid code does not produc

[2015-01-23 23:12] ellismg opened #39 "NonAsciiCharactersAreEscapedInLiterals issue with Verbatim Stings"
The current rule will convert `@"This is a snowman: ☃."` to: `@"This is a snowman: \u2603."`.  This is wrong because we want the unicode literal in the string, not the escaped version.  Instead it should convert it to something like:

[code]

Note that to be nice we should probably compress runs of Unicode characters together if they appear one after another.

[2015-01-24 00:47] Priya91 opened #41 "Cleanup unnecessary console logging"
![image](https://cloud.githubusercontent.com/assets/7853870/5885318/4e7d532e-a31f-11e4-8052-a2ef4b3d143e.png)

The new log messages are not helpful in debugging anything. Cleanup printing the rules and the lines.

[2015-01-27 15:13] #36 closed, assigned to jaredpar

[2015-01-27 15:13] #37 closed, assigned to nobody

[2015-01-27 15:13] #38 closed, assigned to jaredpar

[2015-01-29 21:51] davkean opened #45 "v1.0.0-alpha release doesn't contain System.Collections.Immutable"
The release I downloaded from https://github.com/dotnet/codeformatter/releases/tag/v1.0.0-alpha, doesn't contain System.Collections.Immutable and hence crashes.

[2015-01-31 18:58] jaredpar opened #46 "Do not add modifiers to partial methods"
A partial method cannot have any explicit modifiers.

[2015-02-02 16:08] #41 closed, assigned to nobody

[2015-02-02 17:20] jaredpar opened #48 "Should xUnit formatting be a different tool?"
Was looking at the xUnit formatting rule this morning and considering its place within the code formatting library.

The code formatting library is evolving to a tool that is really efficient at enforcing our stated coding guidelines. Even though we are primarily using it for bulk conversions at the moment the long term plans are for the tool to be used many, many times on the same code.  I can ea

[2015-02-03 15:45] #29 closed, assigned to nobody

[2015-02-03 15:45] #46 closed, assigned to jaredpar

[2015-02-04 16:20] jaredpar opened #49 "Need a method to opt out of rules"
There needs to be a method to opt out of individual rules.  In general yes the code formatter should be consistent and apply all rules to the code base.  Reasonable exceptions do popup on occasion though.  For example:

- The compiler code base needs to have files on disk with unicode characters simply to prove that we can read them in successfully.
- A few legacy code bases can't change private f

[2015-02-06 18:01] #45 closed, assigned to jaredpar

[2015-02-09 19:34] Priya91 commented on #49
Is this a duplicate of #14 ?

[2015-02-09 19:35] jaredpar commented on #49
Ha, yeah it is :smile:

[2015-02-09 19:35] #49 closed

[2015-02-09 20:20] AdamSpeight2008 opened #52 "Codeformatter does met own style formatting rules."
Codeformatter does met it's own style formatting rules.

Kind of ironic!
[code]
should be
[code]

Or is it a case of do as I say, rather that do as I do?

[2015-02-09 21:19] bbowyersmyth opened #53 "Language keywords instead of BCL types"
Don't know how difficult this is to change via Roslyn but when I see the following:

    String[] result = new String[_capslist.Length];

my first thought is that this is old code. I personally don't mind either way for the method calls, it is mainly the declaration of string and object that give that impression.

This would likely give a large code churn but it also seems like the best time to do

[2015-02-09 21:28] terrajobst commented on #52
No, that's a case of us still making progress on making this tool more integrated in our own workflows.

/cc @jaredpar

[2015-02-09 21:43] jaredpar commented on #53
Agree.  This is a gap between what the tool currently enforces and the guidelines.  Will add.

[2015-02-09 21:49] jaredpar commented on #52
@terrajobst i was under the impression that single line properties were allowed.  If that's not the case it's probably a rule we should consider given the huge usage within all of the code bases.

@AdamSpeight2008

The tool is indeed on occasion out of date with the standards.  As @terrajobst mentioned we still don't have the tooling level we'd like to make code formatting a silent and automatic p

[2015-02-10 00:52] terrajobst commented on #52
@jaredpar, so I misread. I was under the impression that it's about the messed up indentation. Yes, [single line accessors are explicitly allowed](https://github.com/dotnet/corefx/wiki/Contributing#example-file) by our example file:

[code]

[2015-02-10 00:53] bbowyersmyth opened #54 "Add final newline to code files"
More of a git formatting rule but mentioned in http://channel9.msdn.com/Blogs/dotnet/github-for-the-roslyn-team

[2015-02-10 01:02] jaredpar commented on #52
If that is the case then this appears to be by design. Closing.

[2015-02-10 01:02] #52 closed

[2015-02-10 12:38] Kraeven opened #55 "Add VB.NET Styling please"
Hi guys,

I'd love to see VB.NET styling added here, we have a lot of projects in VB (unfortunatly) .

Thanks :-)

[2015-02-10 13:38] jmarolf commented on #55
What would be some example styling rules for VB?  C# has a much broader range of acceptable formats, whereas VB has much of its rules about style built into the language itself.

[2015-02-10 18:49] marcelodeaguiar opened #56 "Passing /nocopyright from bash command line returns an error."
Passing */nocopyright* from a bash command line (like git bash) returns the error: **Error: The specified rule type was not find:** _path-to-file/nocopyright_

I think it has something to do with the ```StringComparer.OrdinalIgnoreCase``` used to parse the arguments.

[2015-02-11 21:57] Salz150 commented on #55
Couple of things I can think of

1. Use only one statement per line. Don't use the Visual Basic line separator character (:).

 For example
	`System.Threading.Thread.Sleep(Sleep) : AttemptFailure = True : TryAttempt += 1 : AttemptEX = ex`

	 becomes

	`System.Threading.Thread.Sleep(Sleep)`
	`AttemptFailure = True`
	`TryAttempt += 1`
	`AttemptEX = ex`
2. Comments on seperate lines.

	For example

[2015-02-12 00:35] jaredpar commented on #55
I think for actual code formatting we should prefer the behavior of the pretty lister.  This is the standard by which the over whelming majority of VB developers write their code.

[2015-02-12 02:50] AdamSpeight2008 commented on #55
@Salz150 Enforcing comments being on a newline.
[code]
Is valid in the VS2015 CTP5, which allows comments after implicit line continuations.

It can also be used in LINQ Query style.
[code]
Could potentially change the meaning of the code, or be syntax errors..

------

@jaredpar
Maybe the Style Guidance should be updated (pre Roslyn). Since now the formatter can access more knowledge of what the

[2015-02-12 02:53] AdamSpeight2008 commented on #55
Nope, That that the default setting in VS and programmers are inherently lazy.

[2015-02-12 06:29] davkean commented on #45
Side note, we've got a bug around this against the MSBuild team.

[2015-02-12 15:54] jaredpar commented on #55
@AdamSpeight2008

So because Visual Studio.chose defaults that appeal to a large number of VB developers that makes them lazy?  Sorry, that doesn't follow.  Additionally you didn't address the original point I was making; the pretty lister represents the style used by the majority of VB code.

Choosing a style should not be an argument about personal preferences.  It should instead be a discussion

[2015-02-12 16:06] Salz150 commented on #55
@AdamSpeight2008 good point about inline comments - I didn't think that through.

@jaredpar good point about the `:` - I guess it's in there for a reason. :)

I like the ideas about aligning assignment operators and breaking method parameters at 80c.

[2015-02-12 16:15] jaredpar commented on #45
@davkean

Is it something they indicated they will fix?  The behavior is actually really infectious and ends up affecting how Visual Studio projects generate reference entries in files.

[2015-02-12 20:02] dennis-apter commented on #54
+1

[2015-02-15 18:44] jaredpar commented on #56
I just used this switch today on some code I was working on and it functioned as expected.  Could you show me the exact command line you were using?

[2015-02-16 07:29] MovGP0 commented on #19
indeed they should. However, it might cause a breaking change. You would have to ensure that the code still compiles after changing something. I'd recommend to produce a warning rather than an automatic change.

[2015-02-16 07:33] MovGP0 opened #65 "Add a build target with Nuget"
When adding codeformatter with Nuget, it should automatically add a build target, so that the code gets automatically reformatted on every build.

[2015-02-16 11:11] marcelodeaguiar commented on #56
Sure,

![error](https://cloud.githubusercontent.com/assets/1771472/6210753/da505d22-b5b9-11e4-9cdc-07af36ca40b1.png)

I made some tests and it has nothing to do with the comparer, but with the way git bash interprets my commands. the argument is passed as **C:/Program Files (x86)/Git/nocopyright** intead of **/nocopyright** problably because of the **/**.

Maybe you should change params to start w

[2015-02-16 11:26] AnthonyDGreen commented on #55
Hey @Kraeven,

Thanks for making this request. We've started work on porting some of the shared rules to VB. Expect to hear more from us on VB style in the coming days.

RE: Kraeven said:

Our open source community is young yet and I think this raises a good opportunity to talk about how we all engage each other here.

First and foremost, the .NET Foundation is and needs to remain a place where **

[2015-02-16 12:24] khellang commented on #56
Isn't this a shell problem rather than a bug in the formatter?

[2015-02-16 12:40] marcelodeaguiar commented on #56
@khellang I don't know if its _bug_. Isn't it the way unix based shells work? Git bash is a fairly common shell so I think it should be considered...

[2015-02-16 13:21] khellang commented on #56
Well, you might argue that `/` isn't the best way to denote a switch/flag cross-plat. I guess that's why most UNIX stuff use `-` or `--` :smile:

I'm not sure there's a way around it other than switching the character, since Git Bash ends up passing a path. Maybe do the check using `.EndsWith`? :stuck_out_tongue_closed_eyes:

[2015-02-16 13:34] marcelodeaguiar commented on #56
@khellang
I think the best approach is to use `--` as its pretty common and its an easy solution.
`.EndsWith` looks more like a bad workaround I think.

I can submit the change if it is accepted.

[2015-02-16 14:07] khellang commented on #56
Maybe something like [Mono.Options](https://www.nuget.org/packages/Mono.Options/) or similar could be used?

[2015-02-16 14:54] jaredpar commented on #56
I think we need to move to accept `-` as an option specifier.

[2015-02-16 15:09] richlander commented on #56
@jaredpar - I suspect that's right. After using git all the time, the dashes are starting to feel quite natural.

[2015-02-16 17:16] marcelodeaguiar commented on #56
Most of the tools use 2 dashes for option full name and 1 dash for option shortcut. You can see this all over Git documentation.

@khellang I did not know [Mono.Options](https://www.nuget.org/packages/Mono.Options/) but it looks awesome.

[2015-02-16 20:22] khellang commented on #56
@marcelodeaguiar Yep, it's a quick way to get decent command line options (supporting `-`, `--` and `/` switches) with minimal fuzz (I think its just a single .cs file). :smile:

[2015-02-18 15:06] #48 closed

[2015-02-19 17:36] roncain opened #68 "Delegate invokes of renamed fields are not repaired with the new name"
If you have a field like this:
      private Action someAction;

It will be renamed to '_someAction', and all reads and writes to it are also repaired.
But anywhere that field is used as a delegate to invoke the action, the name is not repaired.
Example:
      this.someAction();
will not be repaired, causing compile errors

[2015-02-19 17:45] roncain opened #69 "Renamed fields are not repaired when referenced via a class instance"
If you have a class and field like this:

[code]

It will be renamed _myBool, and all references it to it will be replaced correctly.
But when it is referenced via an instance of that class (inside the class), it is not renamed, leading to compiler error:

[code]

[2015-02-19 17:53] roncain opened #70 "Adding the internal modifier to nested types does not account for less accessible types it exposes"
Consider this scenario:

[code]

CodeFormatter will add an explicit 'private' modifier to MyEnum, and an explicit 'internal' to MyStruct.
But this now causes an accessibility conflict because MyStruct exposes the private MyEnum.
Nested types' accessibility modifiers should not be elevated above the accessibility of the types they expose.

[2015-02-19 18:02] roncain opened #71 "An #if false in a set of using statements that need to be relocated deletes all the code in the #if"
Consider code that looks like this:

[code]

When CodeFormatter attempts to relocate the using statements above the namespace, it deletes everything inside the #if FALSE_CONDITION, including the #if and the #else.  This causes all the #if'ed code to be deleted and results in an unpaired #endif, causing a compiler error.

[2015-02-19 18:29] jaredpar commented on #71
Thanks for reporting this issue!  I will get this looked at.

[2015-02-19 18:31] jaredpar commented on #70
Thanks for reporting!

That's a really interesting case we hadn't considered when implementing that rule.  Will take a look at getting that fixed.

[2015-02-19 18:33] jaredpar commented on #69
Thanks for reporting this issue.  This looks to be the following bug in Roslyn

The code formatter as currently released was using Roslyn beta2.  I just upgrade it to RC1 and this issue should be fixed now.  Going to add a regression test for it today to ensure it was fixed.

[2015-02-19 18:34] jaredpar commented on #68
Thanks for reporting.

That is very strange.  I think that may be another artifact of us using the beta2 version of Roslyn.  Will add a test to verify.

[2015-02-19 19:28] jaredpar commented on #70
Actually on second thought that is just a bug.  `MyStruct` should be marked `private` by the code formatter as it is a nested struct and that is the default accessibility for such a construct.

[2015-02-19 21:17] jaredpar commented on #70
@roncain

Do you have a full sample for this that I could look at?  I tried putting just that code through the formatter and it produced the expected output.

[code]

I've updated this code recently though so it's possible that it's a bug I already fixed.

Either way there is a regression test for this scenario now.

[2015-02-19 23:17] #68 closed

[2015-02-19 23:17] #69 closed

[2015-02-19 23:17] #71 closed

[2015-02-20 11:30] oniony opened #73 "Throws NotSupportedException when run"
I've just tried running CodeFormatter at itself and at a noddy solution and both times it threw the following exception:

    Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.NotSupportedException: Changingparse options is not supported.
       at Microsoft.CodeAnalysis.Workspace.CheckAllowedProjectChanges(ProjectChanges projectChanges)
       at Microsoft.C

[2015-02-20 16:45] jaredpar commented on #73
A couple of users have reported this now but we are having some problems tracking it down.  Can you give me a bit more info here?

- Can you provide the exact command line used?
- What versions of Visual Studio and MSBuild are installed on the machine?

[2015-02-20 16:56] oniony commented on #73
I am running it, for example, like this:

    d:\WorkingCopy\ThirdParty\codeformatter>src\CodeFormatter\bin\Debug\CodeFormatter.exe src\CodeFormatter.sln

I just today installed the Visual Studio 2015 Preview (14.0.22310.1 DP). The framework version reported by Visual Studio is 4.5.53349.

Here is my NuGet cache:

![image](https://cloud.githubusercontent.com/assets/5895/6305217/6a4642ce-b921-11e4-

[2015-02-20 17:00] oniony commented on #73
D:\WorkingCopy\ThirdParty\codeformatter>msbuild
    Microsoft (R) Build Engine version 14.0.22310.1

[2015-02-20 22:59] jaredpar commented on #73
Thanks for the extra info.  I'm going to be looking into this over the weekend.

[2015-02-22 02:30] #73 closed

[2015-02-23 10:58] orangejuice1 opened #75 "Question: Is it possible to create a rule that sorts my methods, fields, properties etc..."
I have a big codebase which I want to sort by
stylecop rules:
http://stackoverflow.com/questions/150479/order-of-items-in-classes-fields-properties-constructors-methods

How would I start to programm such a feature?
I would guess I add an additional rule... but what to do next...?

[2015-02-23 19:30] krwq commented on #19
I'm not sure this is a good idea assuming that we have InternalsVisibleTo.

[2015-02-23 20:38] krwq opened #77 "Renaming fields not working correctly"
This happened for this piece of code:
[code]

which got converted into:
[code]

Once you get a closer look there are name collisions. In this particular change it makes sense to keep the names as they make sense.

[2015-02-24 02:51] krwq commented on #75
I would look at some Roslyn example projects. I.e:
http://www.codeproject.com/Articles/302595/Roslyn-CTP-Three-Introductory-Projects

to get the idea of how it works like. After that I would either base your projects on one of the example projects and fill any gaps in knowledge with the documentation:
https://roslyn.codeplex.com/documentation
(they have samples in the documentation too)

[2015-02-24 03:09] MovGP0 commented on #19
Assuming that the reformatting happens at a solution-wide scale, the ```InternalsVisibleToAttribute``` shouldn't be a problem. But that is not guaranteed.

Reformatting of public and internal names is always a problem. When Reflection is involved, even renaming of private objects might cause problems.

I think it would be a good idea to implement such a feature. By default it should only cause a w

[2015-02-24 15:37] jterry75 opened #78 "Copyright should be written last at the top of file to avoid incorrect placement."
Consider the following example:

[code]

After formatting:

[code]

Because the using statement is internal to the namespace the copyright is placed in the wrong order.

*The workaround is to first format with /nocopyright. Then reformat with /copyright:file.txt

Thanks,
Justin

[2015-02-24 15:43] jterry75 commented on #78
Sorry still learning* This is open.

[2015-02-24 17:03] jterry75 opened #79 "Unused usings should be removed"
If a file contains a using declaration that is not actually used it should be removed.

[code]

[2015-02-27 17:55] jaredpar commented on #77
I don't understand what the error is here.

[2015-02-27 17:56] jaredpar opened #83 "Double new line added between extern and using"
Consider the following

[code]

The code formatter will change that to have two blank lines in between.

[2015-02-27 18:55] khellang commented on #77
@jaredpar Trailing underscores are removed :smile:

[2015-02-27 19:47] jaredpar commented on #77
@khellang ah, thanks for pointing that out.

The logic for that part of the rule was to rename one of the other common private field name patterns:

[code]

I agree the behavior displayed here is bad, I'm just trying to find a way to rationalize the behavior so the intended case continues to get renamed but the above case does not.  Maybe it's as simple as only removing trailing slashes when the f

[2015-02-28 18:06] GaTechThomas commented on #56
It seems that more detail in the error message would be helpful.

[2015-03-02 15:34] jaredpar commented on #56
@GaTechThomas what extra data could help here?

[2015-03-02 18:09] GaTechThomas commented on #56
I don't use unix, so I can't reproduce, but from the screenshot it looks like the error output is a bit confusing. Maybe showing something along the lines of "Executing Codeformatter.exe using the following parameters: ...".

That output may not be desirable for all runs, but maybe so when the -verbose option is set.

[2015-03-02 18:11] jaredpar commented on #56
@GaTechThomas but what makes CodeFormatter special here?  Why shouldn't all console apps have this output?

[2015-03-02 18:16] jaredpar commented on #70
Chatting with @roncain this morning I figured out why I could not reproduce this bug.  A bad link caused him to use a much older version of the tool where this bug did exist.  I was using the latest sources where it had been fixed.  The regression test should ensure we don't hit this again.

[2015-03-02 18:16] #70 closed

[2015-03-02 21:39] jaredpar opened #86 "Explicit visibility moves comments above attributes"
Consider the following code:

[code]

If the expilicit visibility rule runes on this code it will produce:

[code]

The code is not handling trivial correctly in this case.

[2015-03-02 23:04] conniey opened #87 "Support formatting ASP.NET vNext projects"
I have an library that is written in C#, but I converted it to a .kproj (ASP.NET vNext library) so that my ASP.NET vNext website could also use its logic.

CodeFormatter skips over this project and doesn't format it. so I have to manually create a .csproj, add the .cs files, and run the formatter tool again.

(.kroj Samples)[https://github.com/aspnet/XRE/tree/dev/samples].

[2015-03-03 06:27] jaredpar commented on #87
@jasonmalinowski is there any way to load up ASP.Net vNext projects in Roslyn today?  Right now the CodeFormatter just uses a MSBuildWorkspace.  If there is an easy way to load this project type I'm sure it wouldn't take much work to get the code formatter to support it.

[2015-03-03 06:31] davidfowl commented on #87
It's possible but not very nice right now. We're working on an API that will make this less sucky.

[2015-03-03 06:31] jaredpar commented on #87
@davidfowl is there a GitHub issue I can track for this API?  Once it's available I'd like to try it out here.

[2015-03-03 06:35] davidfowl commented on #87
Not really, we're mostly layering things differently (some in NuGet, some in XRE) to make this possible. I'll update this thread when we get closer to having something useful.

[2015-03-03 13:08] GaTechThomas commented on #56
I would expect that any app writing verbose output would be better served by displaying this sort of information.

It's the equivalent of, say, asking a contractor to do a series of things around the house, and then having them repeat back in detail what they're going to do... Sometimes things get lost in how they are asked or how they're heard, or both, and both parties are better off for having

[2015-03-03 14:53] #86 closed

[2015-03-03 20:57] danroth27 commented on #87
@conniey Please also note that you don't have to convert your existing library project to a kproj to be able to reference it from your ASP.NET 5 app as long as you are ok with the app running on the full .NET Framework. You can reference csproj based projects from an ASP.NET 5 app. You would need to port your existing project only if you wanted to be able to run on .NET Core.

[2015-03-04 00:11] Petermarcu commented on #87
@conniey @danroth27 We also plan on adding ASP.NET 5 as a target from a Portable Library so you wont need to have a seperate project file and multiple builds if you want to have you're shared logic applicable to multiple places.

[2015-03-05 05:12] dannyvv commented on #12
@jaredpar;@ellismg
I agree and would also like to see if there could be a validation mode. One that doesn't modify the sources and we can run as part of the regular build. I would love to see two modes for this:
1. Warn-mode:
    * Each violation would be reported as a warning. I.e.
                 MyFolder\MyFile.cs(10,20): warning: Description of issue for use education.
    * The exit code wou

[2015-03-05 06:49] dannyvv opened #89 "Add support for formatting C# that doesn't have a solution or project file."
Having a solution or msbuild project should not be a requirement for being able to run the codeformatter.

In other words: instead of passing:
    <project or solution>
to the tool someone should be able to alternatively pass:
    [/r:<reference>] [/cs:<sourcefile>]

The workspace that interanlly gets created would then not be an MsBuildWorkspace, but an AdHocWorkspace that is populated with a sin

[2015-03-05 09:18] ellismg commented on #89
Seems like a fine addition to me.  You'll also want to be able to pass define flags.  @dannyvv are you interested in doing the work and submitting a PR?

[2015-03-05 16:37] jaredpar commented on #12
@dannyvv

Implementing validation mode is actually pretty straight forward functionally and could be done in a short amount of time.  Essentially at the very last step instead of calling `TryApplyChanges` we enter into a diffing mode where we simply compare the textual content of every `Document` object in the set of `DocumentId` being considered for changes.

Implementing validation mode with goo

[2015-03-06 00:34] dannyvv opened #90 "Application could take better care of error handling"
There are various places where error handling can be improved:
* Common user errors are thrown exceptions (i.e. xml error in project file)
* The workspaces errors/diagnostics events are ignored.
* Unresolved references and missing files are not reported.

[2015-03-06 00:36] dannyvv commented on #89
I'll go with an rsp file and do the work..

[2015-03-06 18:47] #4 closed

[2015-03-09 04:24] conniey commented on #87
@danroth27 The application that uses the library, I want to run on .NET Core. :) Thanks for the tip though.

[2015-03-09 18:20] jaredpar opened #94 "Cannot F5 CodeFormatter"
The recent changes to the settings / targets files has broken F5 support.  Visual Studio is attempting to F5 out of the obj directory instead of bin.

[2015-03-09 22:50] #94 closed

[2015-03-09 22:55] #89 closed

[2015-03-10 01:31] dannyvv commented on #12
My idea was to create a ValidationLogger. Rules can report issues with a corresponding location info. Those reported will be printed to the user immediately
Before saving We'll do a diff between old and new. For each line that doesn't have a rule report associated with it, report a generic issue with the old + new line.
We can see how this works in practice and if we need to make the last step sma

[2015-03-10 01:32] jaredpar commented on #12
@dannyvv I'm curious what the goal of validation mode would be though?  At the point the tool knows what the violation is, it can fix it immediately.  What would be the value in giving the user an error when we could just fix it?

[2015-03-10 01:59] jaredpar commented on #12
I do agree though this would be the most logical way to implement it. Specific where possible, diff where necessary.

JaredPar from a phone
http://blog.paranoidcoding.com/
________________________________
From: dannyvv <notifications@github.com>
Sent: Monday, March 9, 2015 6:31:07 PM
To: dotnet/codeformatter
Cc: Jared Parsons
Subject: Re: [codeformatter] Validation mode (#12)

My idea was to creat

[2015-03-10 01:59] dannyvv commented on #12
Short:

·         I Want to be educated early on about what I am doing wrong

·         I Don’t want to be the one to always be cleaning up others stuff.

I have certain coding guidelines hard-baked into my fingers. I work on various projects with various guidelines and it is impossible to remember all the details of each codebase.
I have always managed to configure resharper for those projects in

[2015-03-11 17:50] AndyGerlicher opened #96 "Issue when existing header begins with copyright header"
I think I found an issue in the logic that determines if a file already has the copyright header or not. Right now it looks at the leading trivia and if that sequence is equal to the copyright, it returns true. I think it should be if the sequence starts with, not equals.

For my particular case, I first ran the tool the first time quite a while back (before it even went to GitHub), so I don't kno

[2015-03-12 22:31] jasonwilliams200OK opened #98 "JSON configuration because JSON is new XML"
It would be really awesome if JSON-serialized config is provided instead of (<del>or in addition to</del>) XML.
Because JSON is simply so neat and XML is so *old century*, unnecessarily verbose, loaded and ugly!

*JSON everywhere, for every data representation!*

[2015-03-13 16:37] jaredpar commented on #98
To my knowledge there is no XML configuration here.  The only config file added to my knowledge was done by https://github.com/dotnet/codeformatter/commit/05039a8c1a730ce53e9ecabfc22d3ae98a14f834 and that uses the C# / VB RSP file format which is not XML.

[2015-03-13 16:37] #98 closed

[2015-03-14 15:53] am11 commented on #13
:+1:

I use [BatchFormat](https://visualstudiogallery.msdn.microsoft.com/a7f75c34-82b4-4357-9c66-c18e32b9393e) VS extension (by @yongfa365 [yongfa365/BatchFormat](https://github.com/yongfa365/BatchFormat)) which formats and sort/remove-unused using directives solution-wide with a click in solution explorer.

Would be really great if we get this Roslyn-driven intelligent code formatting tool as ext

[2015-03-23 18:52] #96 closed

[2015-03-25 05:47] david-mitchell commented on #79
I would like to take this one.

From my understanding, support for this would require a new `ILocalSemanticFormattingRule` that would run the diagnostics looking for `CS8019` warnings and removing the offending `using` directives. As in the `UsingLocationRule`, files with preprocessor directives should probably be ignored.

[2015-03-25 18:25] dhusemann opened #100 "trim_trailing_whitespace = true"
Need a one time rule run to align files across the repositories.  so there is a 1 time hit.
then add to .editorconfig

[2015-04-06 10:39] matlus opened #102 "Using the /nocopyright switch produces 2 blank lines on the top of every file"
Using the /nocopyright switch produces 2 blank lines at the very top of every code file. I'd expect that it would not do this.

[2015-04-07 20:04] roncain opened #103 "CopyrightHeader.md is not copied to the right bin location during a build"
Using a fresh enlistment in CodeFormatter (or git clean out the bin folders) run build from the root.
Now execute CodeFormatter.exe against some .SLN file.
Expected: runs correctly
Actual: errors reported about missing CopyrightHeaders.md

It looks like CopyrightHeaders is being written to bin\codeformatter\debug only, but CodeFormatter.exe is written to bin.  IllegalHeaders.md is written to the c

[2015-04-09 00:52] ChadNedzlek opened #104 "Private/Internal fields that are not written to should be marked readonly"
Annotating fields as readonly if they’re internal/private and we can prove they’re only ever read from, aren’t mutating structs, etc.  There are potentially lots of fields across the codebase that could be made readonly, and while that doesn’t currently help with performance, it’s very helpful for readability, hygiene, etc.

[2015-04-09 00:54] ChadNedzlek opened #105 "AssertXxx(actual, expected) where the "actual" is a constant should be reversed"
In many tests, Asserts similar to AssertEqual(calcuatedValue, ExpectedConstant) are used.  However, sometimes those are inverted (where the caculatedValue that's being tested is passed to the "expected" value), which leads to strange failure messages that hinder the ability to quickly diagnose failures.

It should be fairly easy to identify the worst offenders, where the "actual" is a constant, an

[2015-04-10 00:25] mteper opened #106 "Add ability to run on OS X / Xamarin Studio"
Would be nice if this could be used outside Windows.

[2015-04-10 16:39] AndyGerlicher commented on #106
In the xplat branch, we've been using monodevelop / Xamarin Studio. Have you tried that branch? And if so what issues are you seeing?

[2015-04-10 16:46] mteper commented on #106
Nope, haven't tried yet, wasn't aware of it. Thanks for the pointer!

[2015-04-10 16:49] AndyGerlicher commented on #106
I'll close this then. Reopen if you have any issues.

[2015-04-10 16:51] AndyGerlicher commented on #106
Uhg, I was working in the msbuild repo and clicked on this issue link in my email... There's definitely not an xplat branch or Linux support here, so I'll reopen. Sorry about that!

[2015-04-10 22:26] mellinoe opened #108 "Field Rename misses some usages of the field"
Running the CodeFormatter on the project containing this file fails to correctly rename the m_postPhaseAction field. Two usages of the field are left unchanged (leading 'm' still intact). Opening VS 2015 and using the rename tool seems to correctly change all usages of the field.

https://gist.github.com/mellinoe/e97adbb0cf913b6daf46

[2015-04-10 22:27] mellinoe commented on #108
Line 776 and 807 in the gist are the lines that are left unchanged.

[2015-04-12 14:36] Kraeven commented on #55
Oh sorry, I really didn't 't mean it that way. I love VB.. Clear and very
readable.. It's a pity that it's not so popular, most tools and plugins are
focused on other languages, people tend to dismiss the power that lies
underneath just because C# has the masses acceptance. Thanks for answering
my request, I really appreciate it.

Got to get me such a T-shirt.. :-)

Keep up the good work!

Kraeven

[2015-04-13 19:00] CyrusNajmabadi commented on #104
Does this also handle fields that are MEF imported?  These should not be marked readonly as MEF will need to assign to them.

[2015-04-13 21:01] ChadNedzlek commented on #104
It should (and now does).

[2015-04-14 23:16] Priya91 opened #110 "Codeformatter rename should provide warning to update the field name in DebuggerDisplayAttribute"

[2015-04-15 20:21] ChadNedzlek opened #111 "Provide levels of formatting (/simple v /aggressive)"
Some of the checks currently implemented and new checks that we want to implement are rather expensive, especially on larger projects.  This means that it becomes awkward to run the formatter in an automated fashion to keep the code base clean on every commit.

If we add an "/agressive" switch, then the fast checks can be run essentially on every build, to keep the code base automatically pristine

[2015-04-16 02:43] thorgeirk11 opened #113 "Question: How to format without inserting a Copyright header?"
Is there a way to specify no copyright header?

The flag /nocopyright seems not to work and if I specify an empty file as the copyright header file the formatter inserts two empty lines at the top of the document.

[2015-04-16 15:36] #104 closed

[2015-04-20 18:17] mellinoe opened #115 "Option for replacing type name with alias"
In CoreFx, we have the guideline of always using the C# alias of the built-in types. It would be nice if the formatter had an option to automatically replace occurrences of the proper type name with the language keyword.

[2015-04-21 23:37] #105 closed

[2015-04-27 16:48] FiveTimesTheFun opened #117 "Constants should be PascalCase"
Constant fields, eg:

private const int _ShrinkThreshold = 256;

should be PascalCase.

[2015-04-27 16:50] khellang commented on #117
Should constants be prefixed with `_` even though they're private? :mask:

[2015-04-27 16:50] stephentoub commented on #117
At least for corefx, the decision that was reached was that constants would be pascal-cased and not prefixed with an underscore.

[2015-04-27 16:51] FiveTimesTheFun commented on #117
I'm basing this on
https://github.com/dotnet/corefx/wiki/Coding-style # 12:

12.We use PascalCasing to name all our constant local variables and fields. The only exception is for interop code where the constant value should exactly match the name and value of the code you are calling via interop.

[2015-04-27 16:51] khellang commented on #117
:+1: for @stephentoub's comment

[2015-04-27 16:52] khellang commented on #117
@FiveTimesTheFun Even *local* variables?

[2015-04-27 17:01] FiveTimesTheFun commented on #117
That's from the corefx wiki :)  I don't personally disagree with it - that it's constant is more important to me than local vs. field scope.

[2015-04-27 23:15] ghuntley commented on #106
Found out about this project early this morning and was like all

![](http://24.media.tumblr.com/tumblr_lzctt8R7gE1qdg9v3o9_400.gif)

that is until:

    › mono CodeFormatter.exe ../../src/SuperSecret.sln
    ERROR: Type loading error detected. In order to run this tool you need either
    Visual Studio 2015 or Microsoft Build Tools 2015 tools installed.
    - Could not load file or assembly or on

[2015-04-28 00:10] jaredpar commented on #106
I think cross plat is a goal we should definitely shoot for on this tool.  The code in the tool itself should be fine for cross plat.  It may need a little work but nothing series.  The bigger issue is our dependencies.

The Roslyn code uses the MSBuild APIs to create a Solution object from the provided solution and project files.  The MSBuild DLLs, and the Roslyn DLLs which depend on it, are not

[2015-04-28 02:43] mteper commented on #106
I thought Roslyn was already xplat? Doesn't Refit rely in Roslyn bits?

[2015-04-28 02:52] jaredpar commented on #106
@mteper large parts of Roslyn are cross platform.  The portion that uses MSBuild though is not.  At least to my knowledge.

[2015-04-28 03:00] mteper commented on #106
@jaredpar Just quickly scanning the package files, is it the `Microsoft.CodeAnalysis.Workspaces.Common` stuff?

[2015-04-28 03:07] jaredpar commented on #106
@mteper in general the rule is

- If the Roslyn assembly name ends in `.Desktop` then it's not portable
- Else it is portable

In this particular scenario the `Workspaces.*.Deskop` assemblies are the ones we'll need to look into.  They depend on MSBuild which is non-portable.

Note: Even if it is a Desktop assembly it still will often work just fine on Mono.

[2015-04-28 03:20] mteper commented on #106
I looked at the Roslyn code on CodePlex and it looks like the .Desktop stuff takes direct dependencies on MSBuild assemblies that ship with VS. Next place to look would be to see whether there is a nuget-exposed artifact of the newly OSS'ed MSBuild code that can be plugged in instead. Unfortunately, I am too swamped to do even that much (little?) right now. Sorry!! :(

[2015-04-28 03:33] jaredpar commented on #106
@mteper

Make sure to look on GitHub for the latest Roslyn sources. The CodePlex ones are about 4 months out of date by now.

The new OSS MSBuild does not yet expose a NuGet package that Roslyn could consume.  Hopefully meeting with them later this week to discuss producing some new packages (for other related reasons). If I can I met try and hook that up to Roslyn.

[2015-04-28 03:53] mteper commented on #106
:+1: I googled Roslyn source and ended up on CodePlex, good to know they moved to GitHub. Will look there next time I come up for air. :)

[2015-05-13 19:49] bartonjs opened #118 "MarkReadonlyFieldRule only marks one field of the same name per run."
[code]

This will only mark Outer1+Inner._couldBeReadonly as readonly.

In the real-world example where this was hit, the inner class name and field name were identical, so the "class-scoped" name for both of them would be the same.

[2015-05-14 14:13] bartonjs opened #119 "Simple gets are moved to the next line when they have an attribute"
I haven't verified with a minimal repro, but based on cases where this has been seen it seems like

[code]

will be rewritten as

[code]

which is not the desired state for corefx.

[2015-05-14 14:17] bartonjs opened #120 "CodeFormatter should remove unnecessary "global::" qualifiers"
Many of the files not yet moved from closed source to open in corefx have "using global::System;".  Aside from "using System" being usually redundant due to the contained namespace chain, the global prefix is something we're manually removing before publishing to github.

[2015-05-14 14:20] bartonjs opened #121 "ExplicitThisRule should remove "this." on all non-semantic cases, not just private properties"
In the event it is required for disambiguation or invoking an extension method it certainly should remain, but the [Coding style guidelines](https://github.com/dotnet/corefx/wiki/Coding-style) say "4. We avoid this. unless absolutely necessary.", and CodeFormatter should help us achieve that goal.

[2015-05-14 21:08] bartonjs opened #122 "_PascalCase fields to not get converted to _camelCase"
[code]

`_InputBuffer` did not get rewritten to `_inputBuffer`.

[2015-05-14 21:11] bartonjs opened #123 "CodeFormatter should remove redundant field initializers"
[code]

`_InputBufferIndex` will already have the value 0, the initializer being there doesn't change anything.

[2015-05-20 04:44] shiftkey opened #124 "extensibility plans (being able to ignore rules)"
First off, thanks for making this open source. Real easy to use, and my Roslyn-fu is terrible.

I can see some mention of `rule types` [floating around](https://github.com/dotnet/codeformatter/blob/master/src/Microsoft.DotNet.CodeFormatting/FormattingEngine.cs#L17) but these don't seem to be used any more. That's fine, I [hacked around it](https://github.com/shiftkey/codeformatter/pull/1) for now

[2015-05-21 21:51] bartonjs commented on #26
Some instances of this seem detectable, like having the rule say "if the exact clause I'm adding already exists, just ignore it".  HashSet and sort the output to just rewrite the whole section.

This seemed particularly interesting on a file just now:

[code]

The difference being "but, it was already there..." instead of "oh, that's funny, you moved it twice."

(And in this case it's particularly

[2015-05-24 19:52] Andy-Wilkinson opened #125 "build.cmd fails if the solution path contains spaces"
The 'codeformatter' build script (build.cmd) currently fails if the path to the 'CodeFormatter.sln' file contains spaces. The error returned is from NuGet with the error message "restore: invalid arguments.".

[2015-06-03 00:24] Priya91 commented on #113
duplicate of #102

[2015-06-03 00:24] #113 closed

[2015-06-04 21:36] #125 closed

[2015-06-04 21:38] jaredpar commented on #124
First sorry for not responding to this sooner.  I have my email filters set wrong for this repo.

I think this is a good idea and it's something we've heard a few times.  It's something we actually need for a couple of our repos (private field renaming for example will break binary serialization).  Today I achieve this by ... commenting out the rule and running the formatter.  We should really jus

[2015-06-05 00:00] shiftkey commented on #124
Good to know I'm not the only one!

[2015-06-05 17:33] jaredpar commented on #124
Thinking more about this I think we actually want two variants here:

1. Ability to exclude a rule included by default.
2. Ability to include a rule excluded by default.

In general we include all rules by default but there are exceptions.  For example today we don't include the readonly rule by default due to some perf concerns.  I expect we'll eventually get more of these in the future.

Been mu

[2015-06-06 23:09] am11 commented on #124
:+1:
IMO, it would probably make sense to use a standard ignore format, which supports glob pattern. This format is implemented by various software:

<kbd>.gitignore</kbd>: https://github.com/github/gitignore
<kbd>.jshintignore</kbd>: http://jshint.com/docs/cli/
<kbd>.coffeelintignore</kbd>: http://www.coffeelint.org/
<kbd>.weignore</kbd>: http://vswebessentials.com/features/general#weignore
etc.

[2015-06-08 00:15] jaredpar commented on #124
@am11 I have thought about config file support as well.  If we get more granular with the options it would be nice to have a file checked into repos dictating which format they support.  I had been thinking about a full config file though vs. an ignore only one.

[2015-06-09 03:09] shaunluttin commented on #87
This issue also occurs with `.csproj` files.

[2015-06-12 12:24] Maxwe11 opened #131 "Using directives doesn't handled correctly"
input:
[code]

output:
[code]

I manually insert `<--- blank line here` to indicate it

[2015-06-12 12:34] Maxwe11 commented on #131
dup of #78

[2015-06-12 12:34] #131 closed

[2015-06-18 15:59] #124 closed

[2015-06-18 17:14] lgolding opened #133 "DOTNET_FORMATTER symbol is unconditionally applied"
In `FormatDocumentFormattingRule.ProcessAsync`, in the loop over additional configurations, the `DOTNET_FORMATTER` symbol is added to the parse options regardless of the presence of the `/tables` option on the command line.

@Srivatsn, @jaredpar

[2015-06-18 23:51] zjrunner opened #135 "Move to roslyn rc3 breaks build : analyzers load fails"
Getting these all over the place (and later failures finding 'Object' and other simple classes)
CSC : warning CS8032: An instance of analyzer Microsoft.CodeAnalysis.CSharp.Analyzers.Fix
Analyzers.CSharpFixerWithFixAllAnalyzer cannot be created from G:\code\codeformatter\src\
packages\Microsoft.CodeAnalysis.Analyzers.1.0.0-rc3\analyzers\dotnet\cs\Microsoft.CodeAna
lysis.CSharp.Analyzers.dll : Could

[2015-06-19 19:33] lgolding opened #137 "Reimplement codeformatter "rules" as Roslyn analyzers/fixers"
This will allow the rules to be used in VS as well.

[2015-06-19 19:52] Priya91 commented on #137
Sounds good.

[2015-06-22 11:59] zabulus commented on #102
Found out that the 2 blank lines is added not via CopyrightHeadersRule but NewLineAboveRule

[2015-06-22 13:09] zabulus opened #139 "codeformatter throws exception if C++\CLI assembly referenced"
I have several C# projects that reference C++\CLI .vcxprojs
Codeformatter throws exception on start:
[code]
Any possibilities to workaround this?

[2015-06-22 13:16] zabulus commented on #139
workarounded by manually adding
[code]

[2015-06-29 18:18] Isaac-Kleinman opened #142 "Broken Link to Coding Style"
The readme's link to the .NET coding style is broken; it should be fixed to the following: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

[2015-06-29 18:20] #142 closed

[2015-06-29 18:21] jaredpar commented on #142
Thanks for reporting.  It looks like they changed the location again :frowning:  Just updated it.

[2015-06-30 20:04] #83 closed

[2015-07-15 20:05] lgolding opened #147 "MarkReadonlyFields rule doesn't handle field decls with multiple variable decls"
The method `ReadonlyRewriter.VisitFieldDeclaration` looks only at the first variable declared in the field declaration:

                private int _n = 0, _m = 1;

If `_n` appears in the list of `_unwrittenFields`, the method adds a `readonly` modifier to the declaration. Now `_m` is `readonly` as well.

[2015-07-27 14:37] hickford opened #151 "/nocopyright should be the default"
// Copyright (c) Microsoft. All rights reserved.
    // Licensed under the MIT license. See LICENSE file in the project root for full license information.

This header is inappropriate for most projects (outside Microsoft, other licenses). To be useful to more people `codeformatter.exe` shouldn't make these assumptions out the box.

Simplest solution: `/nocopyright` should be the default.

[2015-07-27 14:45] hickford commented on #151
Workaround: create an empty file `empty.txt` then run `codeformatter.exe /copyright:empty.txt`

[2015-07-27 14:53] hickford opened #152 "Unhelpful error message when run codeformatter.exe on .cs file"
If you try to run codeformatter.exe on a `.cs` file then you get the surprising error message:

The solution as explained in the readme is to run codeformatter.exe on `.csproj` or `.sln` files, but it would be neat to show a more helpful error message.

[2015-08-02 01:54] igorgatis opened #162 "Please provide standalone exe"
Downloaded the binary release and when I tried running it complained about missing dlls which seem to belong to vs 2015.

Is it correct to say that CodeFormatter tool requires vs 2015 installation? If that is true... That's far too inconvenient.

For companies like mine, which would.love to use the tool but can't migrate right the way to vs 2015, could you please provide a standalone exe (e.g. no

[2015-08-03 10:42] hickford commented on #162
https://github.com/dotnet/codeformatter/releases/tag/v1.0.0-alpha5 worked for me, you need to extract the whole folder though

[2015-08-03 10:44] hickford commented on #102
This is a frustrating bug.

[2015-08-03 11:21] khellang commented on #162
I don't think you need to install full VS2015 though. [Microsoft Build Tools 2015](http://www.microsoft.com/en-us/download/details.aspx?id=48159) should be sufficient, but I agree; there should be a standalone .exe available.

[2015-08-03 15:15] jaredpar commented on #102
@hickford this should be fixed in the latest sources (I used /nocopyright on a number of projects).  Are you still seeing this with the latest sources or a particular release?

[2015-08-03 15:37] hickford commented on #102
Hi Jared, thanks for your reply. I used https://github.com/dotnet/codeformatter/releases/tag/v1.0.0-alpha5

How do I install the latest version?

[2015-08-07 20:57] jaredpar commented on #102
@hickford I don't believe we have a newer release.  I think we're going to have a new one shortly thougoh given all the bug fixes we made recently.

[2015-08-11 17:45] #78 closed

[2015-08-13 23:39] paulvanbrenk commented on #162
A nuget package would be great too.

[2015-08-17 22:02] davkean opened #168 "Namespaces are no longer moved to top of file"
It appears in recent builds namespaces are no longer moved, whereas, https://github.com/dotnet/codeformatter/releases/tag/v1.0.0-alpha5 did move them:

Have this:

[code]

Expected:

[code]

Actual:

[code]

[2015-08-17 22:05] jaredpar commented on #168
We deliberately decided to disable this rule by default because it's simply unsafe to run in it's current form.  Moving a using around has a subtle but significant impact on name lookup in the compiler.  It's possible for this to create compilation errors or even silent redirections to new types.  That goes against the operating principles of code formatter and hence it was disabled by default.

[2015-08-17 22:05] #168 closed

[2015-08-25 21:51] rainersigwald opened #171 "Xunit converter: IsInstanceOfType should be replaced with IsType"
Right now, it uses IsAssignableFrom, but according to http://xunit.github.io/docs/comparisons.html the direct conversion is IsType<>().

[2015-08-25 21:51] rainersigwald commented on #171
I'm looking at fixing this in my fork already.

[2015-08-28 15:42] tmds opened #172 "file extension '.xproj' is not associated with a language"
When I try to run the tool, I get an exception:

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Cannot open project 'MyProject.xproj' because the file extension '.xproj' is not associated with a language.

[2015-09-03 05:49] rollie42 opened #173 "Using statements should be listed in alphabetical order"
This makes it easier to see what is already in use.

[2015-09-03 05:52] #173 closed

[2015-09-04 11:55] BertTank opened #174 "keep tabs instead of spaces"
I know this is your default and written down in the documentation: ```We use four spaces of indentation (no tabs)``` but we use tabs by default in my company. However the rest of your rules will perfectly fit ours.

Is it possible to exclude this feature to keep tabs (or even convert spaces to tabs)?

[2015-09-04 18:15] genlu commented on #174
@BertTank I believe you can disable the tab formatting by adding `/rule-:FormatDocument` at commandline.

[2015-09-04 23:31] CIPop opened #175 "CodeFormatter doesn't replace delegate call locations on rename"
Replaced:
`private Func<object, bool> _callback;`

But didn't replace:
`if (!m_callback(targetObj))`

[2015-09-05 09:31] BertTank commented on #174
That's right, but I want to have the formatting of that rule - just not with spaces but with tabs.

[2015-09-05 16:30] genlu commented on #174
@BertTank Yeah, @michaelcfanning is working on adding solution/project specific options to formatting rules. This space-tab conversion option will definitely be considered.

[2015-09-07 07:25] BertTank opened #176 "Remove unused brackets for lambdas if possible"
As enhancement, I'd find it great to make code like:
```var answers = list.Where((i) => i.Answer == 42);```  *(brackets around "**i**")*
or even
```var answers = list.Where((i) => { i.Answer == 42 });```  *(brackets around "**i**" & curly brackets)*

look like this:
```var answers = list.Where(i => i.Answer == 42);```

[2015-09-08 16:41] jaredpar commented on #175
Thanks for reporting!

@dpoeschl is this a known issue in the rename tracking code?

[2015-09-08 16:46] dpoeschl commented on #175
Rename works as expected in this standalone example:

[code]

[2015-09-08 16:53] jaredpar commented on #175
@dpoeschl I wonder if it's because the latest release is still using a pre-RTM version of Roslyn.

[2015-09-08 16:57] dpoeschl commented on #175
Just tested against VS 2015 RTM, and the rename works as expected there too.

You mean that the current ```codeformatter``` release uses a pre-RTM version of Roslyn? I don't remember any rename issues like this being fixed at the last minute...

Can you or @CIPop share any more context on the rename failure that occurred so I can dig a bit deeper? Maybe the actual scenario is somehow more subtle t

[2015-09-08 17:35] CIPop commented on #175
I ran [CodeFormatter 1.0.0-alpha5](https://github.com/dotnet/codeformatter/releases) on code within the System.Net.Security from my private fork, the [sn2](https://github.com/CIPop/corefx/tree/sn2) branch.

I'm running on Win10 + Visual Studio 2015 RTM.

After running the formatter, build failed for me: there are a few items in PinnableBufferCache.cs that were not renamed correctly.

[2015-09-11 16:58] #103 closed

[2015-09-11 21:26] CIPop opened #177 "CodeFormatter doesn't handle several transforms"
Please see https://github.com/dotnet/corefx/pull/3113 for issues encountered when running CodeFormatter on System.Net.Security.sln:

[code]

Was not converted to the equivalent using braces.

Incorrect camel casing transform for private members:

[code]

`_InnerStream` instead of `_innerStream`.

[2015-09-26 22:38] terrajobst commented on #162
I believe the problem is the MSBuild dependency in order to parse and evaluate the project.

Out of curiosity: what's the reason you don't have MSBuild? Is it because you have an older version or is it because you run non-Windows?

[2015-10-02 01:11] CIPop opened #184 "Apparently, CodeFormatter works better when an individual csproj is targeted instead of the entire sln"
I tried running CodeFormatter on all individual csproj files within the System.Net* folders instead of the SLNs and found a lot more code style changes.

Potentially related:
  * Visual Studio 2015 fails to find references, etc. Likely cause is the use of paths containing / (forward slash) instead of the Windows \ (back slash).
  * Another potential issue is not being able to specify the exact bui

[2015-10-04 00:03] michaelcfanning opened #185 "explicit var rule resolves to 'object' where ImmutableArray<int>.Builder expected"
Some generics methods causing issues for explicit var check:
var result = ImmutableArray.CreateBuilder<int>();
is converted to
            object result = ImmutableArray.CreateBuilder<int>();
where
            ImmutableArray<int>.Builder result = ImmutableArray.CreateBuilder<int>();
is expected.

[2015-10-19 15:52] rainersigwald opened #189 "Trim trailing whitespace on line comments"
It would be nice if CodeFormatter automatically trimmed trailing spaces in line-comment trivia as well as in code.  I naively assumed it already did until I looked at https://github.com/Microsoft/msbuild/pull/289.

I can't think of a strong reason to oppose this idea, especially since many repos including this one have  a `.editorconfig` with `trim_trailing_whitespace = true`.  But maybe I'm missi

[2015-10-20 23:24] lgolding opened #190 "MarkReadonlyFieldsRule throws exception on roslyn-analyzers repo"
Here is the exception:

[MarkReadonlyFieldsRule exception.txt](https://github.com/dotnet/codeformatter/files/17196/MarkReadonlyFieldsRule.exception.txt)

@michaelcfanning, @srivatsn FYI, the first of the class of failures we discussed.

[2015-10-22 02:29] SamB commented on #189
Hmm, documentation comments are going to make things a bit complicated here :-(.

[2015-11-02 17:42] jaredmoo opened #191 "Running CodeFormatter renames private fields that have [DataMember] which breaks serialization"
We were bit by a nasty issue that running CodeFormatter broke serialization of a type that had [DataMember] on a private field. CodeFormatter renamed the field, which caused the serialization format to change, so our pre-CodeFormatter and post-CodeFormatter serialization was incompatible.

Below program demonstrates the issue:

    using System;
    using System.Runtime.Serialization;
    using Sy

[2015-11-02 17:50] AndyGerlicher commented on #191
+1 on this. In MSBuild we use binary serialization all over (uhg) and changing private fields on [Serializable] classes changes the contract for serialization. It would be good to detect both of these and be able to disable renaming in those cases (even if it's an extra option).

[2015-11-06 03:02] lgolding commented on #190
We are running a rule whose `SupportsLanguage` method returns `true` only for C# on a VB file (it crashes on _DoNotCatchCorruptedStateExceptionsAnalyzer.vb_).

[2015-11-06 17:55] terrajobst commented on #189
Why would that be complicated for doc comments? Trailling spaces -- expect for multiline strings -- should always be trimmed. Should be trivial by simply using the tokens.

@jaredpar?

[2015-11-06 18:07] jaredpar commented on #189
@dpoeschl will know how the IDE works here better than me.

[2015-11-10 20:02] twsouthwick commented on #137
@Igolding Are you still working on this?

[2015-11-10 20:04] lgolding commented on #137
Yes, kind of a long term effort :) + @michaelcfanning.

[2015-11-10 20:30] twsouthwick opened #196 "Codeformatter reformats getter-only auto properties weirdly"
Is this expected behavior?

Before:
[code]

After:
[code]

[2015-11-10 20:41] michaelcfanning commented on #137
Yes, in flight. :) We need to reauthor the range of existing checks as analyzers. We should enable codeformatter to drive arbitrary analyzers. We need to good configuration story for the analyzers (as these checks are mostly highly configurable).

[2015-11-11 05:58] SamB commented on #189
@terrajobst: Trailing whitespace in XML documentation comments seems not to appear in its own token/trivia.  At least, that's what I saw in the syntax visualizer in VS 2015 RTM with version 1.0.0.50618 of the Roslyn SDK extension. (I didn't even *look* at regular multiline comments.)

[2015-11-11 16:27] dpoeschl commented on #189
@SamB @jaredpar @terrajobst There are a couple tricky cases, if you're starting the process from the syntax tree:
1. In regular code (no comments), then we just need to look for trailing WhitespaceTrivia followed by trailing EndOfLineTrivia
2. Multi-line comments are contained in a single MultiLineCommentTrivia, which would need to be further parsed to manually remove whitespace characters appeari

[2015-11-11 16:29] dpoeschl commented on #189
@SamB Is there a reasonable use case for significant trailing whitespace in documentation comments? I can definitely see a use case for significant trailing whitespace in VB XML literals.

[2015-11-13 21:57] patricksadowski opened #198 "XUnitConverter: StringAssert should be converted to Assert"
Currently no `Microsoft.VisualStudio.TestTools.UnitTesting.StringAssert` assertion is converted to `Xunit.Assert`. I prepared some tests in my [fork](https://github.com/patricksadowski/codeformatter/commits/stringassert).

[2015-11-27 07:37] jskeet opened #199 "Support DNX"
This is a sort of bigger feature request version of issue #172.

In the brave new world, DNX-based projects and solutions are going to be more and more common. I haven't yet figured out a way of telling `codeformatter` to format all the code within a DNX solution or DNX project, as you can't specify individual source files (entirely reasonably, given that it's doing more than formatting).

[2015-11-27 18:57] jaredpar commented on #199
This is definitely in the works now. The intent is to add support for project.json based projects. A couple of other pieces need to fall into place before we get full parity with MSBuild based project. But this will be coming.

Sent using OWA for iPhone
________________________________
From: Jon Skeet <notifications@github.com>
Sent: Thursday, November 26, 2015 11:37:10 PM
To: dotnet/codeformatter

[2015-11-27 19:00] davidfowl commented on #199
The workspace implementation should be good enough (hopefully) https://github.com/dotnet/cli/tree/master/src/Microsoft.DotNet.ProjectModel.Workspaces. We need to start producing packages for these so we can consume them here.

[2015-11-30 11:35] paulomorgado opened #200 "How can I format standalone source files?"
I have a bunch of standalone C# files that are compiled with the command line compiler and don't belong to any project or solution.

I tried this:

    PS> Get-ChildItem -Path ..\..\LivroCSharp6\*.cs -Recurse |
     % {
        .\CodeFormatter.exe /file:"$($_.Fullname)" /nocopyright /verbose ..\..\LivroCSharp6\format.rsp
     }

and I get outputs like this:

    format.rsp
            Syntax Pass

[2015-11-30 13:21] paulomorgado commented on #200
Got it!

Instead of specifying the files to be formatted in the `/file:` argument, I added a `/recurse:*.cs` directive to the response file.

[2015-11-30 13:21] #200 closed

[2015-12-19 20:37] naveensrinivasan commented on #106
Any progress on this?

[2015-12-24 00:08] jaredpar commented on #106
@naveensrinivasan yes.  There is a Workspace implementation that came out of the dotnet/cli project that will be useful in allowing codeformatter to become a portable application.  It still needs some work but I'm hoping early next year it will be available.

[2015-12-24 00:58] naveensrinivasan commented on #106
Thanks!

[2015-12-30 01:03] weshaggard commented on #53
@jaredpar have you done anything with this yet? If not I might take a look at into it.

[2015-12-30 02:24] jaredpar commented on #53
@weshaggard go for it

[2016-01-04 09:51] ghuntley opened #201 "Distribute CodeFormatter as NuGet package?"
Howdy,

Any plans to ship CodeFormatter as a NuGet package so it can be installed via the command line:

    PM> Install-Package CodeFormatter

Example usages, integration with a git-precommit hook or as part of a FAKE build script.

The GitHub guys (@shiftkey) have rolled their own package which is perfect but it has been customized for their coding convention used in Octokit -> https://www.nuget

[2016-01-04 09:53] ghuntley commented on #162
Agreed, would be fantastic to have CodeFormatter distributed as a NuGet package.

[2016-01-05 00:14] Priya91 opened #203 "Add commandline switch to conditionally include project files based on msbuild conditions."
Is there a way to do this with .net compiler platform?

For ex, one of the project files in corefx:
[code]

Is there a way to format all files in the project, which may or may not be in compilation based on msbuild conditions.

cc @srivatsn @jaredpar

[2016-01-05 00:30] srivatsn commented on #203
Not directly. MSBuild evaluates those conditions and drops those files before passing them to Roslyn. You'll have to parse the csproj files, identify all such conditions and recreate compilations with those constants set. I believe codeformatter already has some code for creating compilations for different sets of conditional constants taken from the commandline but I could be wrong.

[2016-01-22 01:32] #185 closed

[2016-01-26 14:26] stebet commented on #137
I'm very much looking forward to this. Is there a repo we can contribute into to help with this task?

[2016-01-26 14:54] jaredpar commented on #137
@stebet this work is going on in the anfix branch

https://github.com/dotnet/codeformatter/tree/anfix

[2016-02-05 17:05] BlueHatbRit commented on #106
Just wanted to add a +1 to this request, seems like it's being considered though which is great news! We'd benefit a lot from this for our projects.

[2016-02-18 17:26] lgolding opened #213 "Unit test failure: CSharpHeaderCorrectAfterMovingUsings"

[2016-03-01 15:45] Piot commented on #106
:+1:

[2016-03-02 00:47] didemg opened #216 "PrivateFieldNamingRules throws InvalidCastException while analyzing vb project"
exception thrown:
"Unable to cast object of type 'Microsoft.CodeAnalysis.VisualBasic.Symbols.SourcePropertySymbol' to type 'Microsoft.CodeAnalysis.IFieldSymbol'.
   at Microsoft.DotNet.CodeFormatting.Rules.PrivateFieldNamingRule.CommonRule.<RenameFields>d__3.MoveNext() in D:\Roslyn\src\codeformatter-anfix\src\Microsoft.DotNet.CodeFormatting\Rules\PrivateFieldNamingRule.cs:line 65

[VBLib.zip](http

[2016-03-30 19:33] davkean commented on #216
Also running into this.

[2016-03-30 22:56] #216 closed

[2016-03-30 23:11] davkean commented on #216
This has been fixed in #218.

[2016-04-02 09:54] Daniel-Svensson commented on #79
It would be great if you could specify some namespaces which should always be kept such as System.Linq.

[2016-04-05 18:48] #151 closed

[2016-04-12 22:54] basoundr opened #225 "Address PR Comments for #217"
The PR #217 added the ability to run CodeFormatter with Analyzers. This issue has been created to finish the TODO mentioned in the PR.

TODO:
   - [ ] Add some more tests
   - [ ] Log analyzer execution time in SARIF format
   - [ ] Test VB

[2016-04-12 23:09] danquirk commented on #225
I'm working on this but can't formally assign it.

[2016-04-14 09:00] michalhosala opened #228 "Web projects require Visual Studio 2015 installation"
Your readme.md says:

However, that is not enough for web projects. To reproduce:

**Prerequisities:**
- machine without VS2015 installed,
- with MS Build Tools 2015 installed,
- web project, e.g. basic template from VS2012 "ASP.NET Empty Web Application", lets call it WebProj.sln

**Steps to reproduce:**
1. Run `CodeFormatter.exe WebProj.sln`,
2. Observe exception being thrown:

**Expected behavi

[2016-04-20 19:36] AtsushiKan opened #230 "CodeFormatter should not rename private fields that are part of an interop type."
C# structs that are designed to map to known C++ structures for the purposes of P/Invoke'ing are expected to have names that match the original C++ names. CodeFormatter should not add an "_" to those fields, even if the field's visibility is "private."

Two reasons I might put "private" on such a field:

- It represents a union field and I choose to hide it and replace them with strongly typed pro

[2016-04-20 19:37] AtsushiKan commented on #191
Another irritant: renaming fields that are part of an interop struct and are intentionally named to match their C++ counterparts. Opened a separate issue for this:

https://github.com/dotnet/codeformatter/issues/230

[2016-04-21 17:14] AtsushiKan commented on #123
Ehh, no - if it's a hot perf path, that's one thing but I don't believe people who choose to be explict so the code reads "I didn't forget to initialize this, I made an explicit decision to initialize it to this value" should  be scolded by a code-style tool.

[2016-04-28 16:04] #90 closed

[2016-05-08 00:26] KirillOsenkov opened #231 "Need to update [DebuggerDisplay] attributes to match renamed field names"
If CodeFormatter is renaming a field, it should check whether this field is referenced in [DebuggerDisplay] attribute and rename that accordingly. Otherwise we can end up with a problem:

![image](https://cloud.githubusercontent.com/assets/679326/15095391/a54f9894-1478-11e6-9599-828a5e3aa0ee.png)

See also:
https://github.com/Microsoft/msbuild/issues/610
https://github.com/SergeyTeplyakov/ErrorPro

[2016-05-18 11:33] gabrielweyer opened #232 "XUnitConverter: MSTestNamespaces.txt should be copied to output directory"
`MSTestNamespaces.txt` should be copied to output directory if we want to use the tool from command line.

Right now if we call `\bin\XUnitConverter\Debug\XUnitConverter.exe <project>` we get a lot of `The MSTestNamespaces.txt file was not found.`.

[2016-06-01 10:53] wanton7 opened #234 "Add rule for Pascal casing public/internal/protected fields, properties and methods"
Please add rule support for Pascal casing public/internal/protected properties, methods and fields.

[2016-06-01 12:38] #234 closed

[2016-06-07 23:19] mrchief opened #235 "NewLineAbove inserts empty newline when no usings are present"
I assume this rule ensures that there is a newline between usings and namespace declaration. However, it should not insert an empty newline if there are no usings like in the below example.

[code]

[2016-06-09 21:31] ILMTitan opened #236 "Changing copyright header creates duplicate lines."
Changing the copyright header from

    // Copyright 2015 Google Inc. All Rights Reserved.
    // Licensed under the Apache License Version 2.0.
to

    // Copyright 2016 Google Inc. All Rights Reserved.
    // Licensed under the Apache License Version 2.0.
results in

    // Copyright 2016 Google Inc. All Rights Reserved.
    // Licensed under the Apache License Version 2.0.

    // Licensed unde

[2016-07-27 20:10] tigerclawn82 opened #239 "Stuck on format"
Hi, i am new to codeformatter and just downloaded release build Code Formatter 1.0.0-alpha6. After extracting the zip, i run codeformatter.exe on a solution file and it get stuck on
[code]
is there any way i can know that it is really working cuz i waited for long or is there anything i am missing.

Thanks

[2016-07-27 21:16] tigerclawn82 commented on #239
Finally, formatting is done.
[code]
It was not repo with many files, it was small size solution containing about 20-30 files.

[2016-07-27 21:22] tigerclawn82 opened #240 "Reflection, semantic changes"
Hi, i detected unusual behavior while testing code formatter.

Original Code
[code]

Formatted Code
[code]

Basically code semantic been changed, reflection based usage will break things up. Is there anything that can be configured to skip this kinda behavior?

Thanks

[2016-07-27 22:01] jaredpar commented on #240
Which semantics were changed that are concerning?  Is it the renaming of private fields?

[2016-07-28 07:35] tigerclawn82 commented on #240
yes, renaming of private fields.
[code]
it will fail after formatting in-fact i came to know about it due to the test case fail.

[2016-07-28 16:44] jaredpar commented on #240
We definitely understand this particular part of the code formatting can break reflection and binary serialization.  In general that doesn't have an impact on code bases.  Roslyn for instance converted ~150 projects to this rule with almost no issue.  It was implemented because that is the desired standard for the dotnet organization.

That being said it's possible to disable this rule (just as wi

[2016-07-29 21:55] lzybkr commented on #110
See #231.

[2016-07-29 21:58] lzybkr opened #241 "Need to update xml comments when renaming fields"
When renaming a private field, xml comments need to be updated as well, e.g.:

[code]

The formatter renamed the field, but did not change the comment.

[2016-09-12 12:58] dnperfors commented on #137
I didn't know there was already work like this done, so I started my own project for analyzers: https://github.com/dnperfors/CodeStyleAnalyzer There is already a version available on NuGet

[2016-10-17 08:18] 22u2 opened #242 "Save file only if needed"
I configured in the pre-build step the execution of codeformatter on all projects. It works fine but I have unnecessary recompilations. Even if the format was already done and when I execute the tool on a file, the file is always saved so it implies a recompilation.
Do you have any plan to fix that?

[2016-11-22 23:06] SuperJMN opened #246 "xUnit converter doesn't work for me"
I've used the tool over a .csproj project and nothing happened. I haven't found any documentation about how to use it. Could you please upload a mini how-to to teach us?

Thanks!

[2016-11-23 10:37] tiesmaster commented on #246
Probably you're missing the `MSTestNamespaces.txt` file in the output directory, 6eb6cc3 in PR #233 fixed that for me, but unfortunately that PR has not been merged yet :(

When I ran the converter without that patch, I think got warnings in the console, and that patch made it go away. Try that first.

Next, if your codebase contains `TestInitialize`, and `TestCleanup` attributes, then you might b

[2016-11-23 10:51] tiesmaster opened #247 "XUnitConverter: Add support for converting TestInitialize and TestCleanup attributes to xUnit equivalent"
I used the convert to successfully convert our MSTest projects to xUnit, except that I noticed that `TestInitialize` and `TestCleanup` attributes were not converted, so I've added that in my own branch ([here](https://github.com/tiesmaster/codeformatter/tree/dev).

I think it would be a good addition to the converter, are you guys willing to merge that in? I think the branch requires some work to

[2016-12-08 12:43] hanswolff opened #248 "CodeFormatter returns with exit code 0 on error"
Whenever an error occurs while formatting the CodeFormatter command line returns with exit code 0. In a batch script there is no easy way to find out if the formatting operation has failed. Please fix!

[2016-12-08 13:13] hanswolff commented on #248
Turns out it was an easy fix, see pull request #249

[2017-01-17 15:42] wahmedswl opened #250 "Nightly Build"
Hi,
   Isn't there anyway to download nightly build. Eg: AppVeyor automated build.

Thanks

[2017-01-25 23:40] colltoaction opened #252 "Running on folders without projects/solutions"
Hi,

I'm trying to run the tool on a bunch of `.cs` files for https://github.com/dotnet/corefx/pull/15477 but it doesn't seem to be able to run on loose files.

Thanks!

[2017-02-03 04:52] netpyoung opened #253 "How about change CommandLineParser (error on macOs) ?"
on macOs I try to use codeformatter.
but i got an errror;

[code]

I thinks it caused by custom https://github.com/dotnet/codeformatter/blob/master/src/CodeFormatter/CommandLineParser.cs.

how about use another library like https://github.com/gsscoder/commandline

[2017-02-17 10:51] RazvanADumitru commented on #239
Same problem here and i used the tool for like one month completed time being 30-40 sec. Starting one-two days ago it got stuck for me too at Global Semantic Pass step.

[2017-02-24 00:27] alexperovich commented on #253
This error is caused by your command line. You typed CodeFormatter.exe twice. Try this:
[code]

[2017-02-24 01:41] netpyoung commented on #253
i'm so sorry. i didn't notice that my mistake.

[2017-02-24 01:41] #253 closed

[2017-02-24 12:53] stuartleeks opened #255 "Add support for .NET 4.6/"
On a machine with just VS2017 installed, .NET 4.5.2 isn't installed and I get the error below.

Is it possible to create a version that supports .NET 4.6?

[code]

[2017-03-10 00:10] basoundr opened #256 "Add support for SDK based Projects(.Net Core Project format)"
I get the below exception when running CodeFormatter for [Roslyn Project System](https://github.com/dotnet/roslyn-project-system), which has been converted into a SDK based project. The new project format does contain XML namespace.

[code]

[2017-03-10 14:29] stuartleeks commented on #199
Now that VS2017 is released, can we get a version of code formatter that will work on .NET Core based csproj projects (#256), and on a machine with only VS2017 installed, i.e. where .NET 4.5.2 isn't installed (#255)?

[2017-03-10 17:25] jaredpar commented on #199
@stuartleeks it's on my radar to do.  Still a lot of VS 2017 ship work going on right now.  Once that calms down though going to be taking a look at this.

[2017-03-12 21:52] stuartleeks commented on #199
I'll keep my fingers crossed that things calm down soon then ;-)

[2017-03-14 03:05] dhoehna opened #257 "Does not convert all upper case const fields to PascalCase"
My private const fields were not converted from MY_CONSTANT to MyConstant (All uppercase to Pascal Case).  I also did not find a rule that did this.

[2017-03-22 18:22] RaviDesai commented on #256
I too would find support of this very useful.  For now, I don't really have a good workaround.  Are there other command-line alternatives that can work with solutions that contain dotnet core projects?

[2017-03-25 11:47] pgrm opened #258 "Add support for C# 7 tuples"
The codeformatter can't deal with the new way of defining tuples in C# 7 (https://docs.microsoft.com/en-us/dotnet/articles/csharp/csharp-7#tuples)

When having the rule active to prefix fields with _ it also prefixes the field names used in the tuple.

[2017-03-28 14:55] javitosanchez commented on #258
Also for expression methods. For example, in this expression:
`private static (string name, string value) GetData() => ("name", "value");`
After applying the tool, I get:
`private static (private string _name,private string _value) private GetData() => ("name", "value");`

[2017-04-03 15:28] uioporqwerty opened #259 "Ignoring auto-generated files"
With CodeFormatter, how can you tell it to ignore certain files like Reference.cs which are autogenerated files? These take a long time to parse; in our case it takes 2-5 seconds for some files.

[2017-04-26 12:14] hgiritzer opened #260 "Only VS2017 installed: Get Codeformatter to run without VS2015"
By installing just this "lightweight" VS2015 build tools package, I got CodeFormatter to run on my VS2017 dev machine:
https://www.microsoft.com/en-us/download/details.aspx?id=48159

Maybe this might be a useful information for others.

[2017-04-26 12:16] #260 closed

[2017-05-19 20:09] kzu opened #261 "Add support for MSBuild 15 item metadata attribute notation"
If your projects use, say:

[code]

Which is totally valid MSBuild 15+ notation, the tool fails with:

[code]

Most likely because it's referencing MSBuild 14 or prior.

Thanks!

[2017-05-19 20:19] kzu commented on #27
how about an ILRepack'ed version? :)

[2017-06-08 14:54] ohadschn commented on #255
Is there some workaround for this?

[2017-06-20 07:58] ohadschn commented on #255
OK so as a workaround you can just put the DataFlow DLL in the same folder as `CodeFormatter.exe`: https://www.nuget.org/packages/Microsoft.Tpl.Dataflow ([direct download](https://www.nuget.org/api/v2/package/Microsoft.Tpl.Dataflow/4.5.24)).

Change the `nupkg` extension to `zip`, unzip and the DLL should be in `lib\portable-net45%2Bwin8%2Bwpa81`.

[2017-06-20 08:07] ohadschn opened #262 "Microsoft.Build.Exceptions.InvalidProjectFileException: The tools version "14.0" is unrecognized. Available tools versions are "2.0", "3.5", "4.0"."
I'm getting the following exception. The funny thing is, when I open the csproj it says `ToolsVersion="12.0"` (and not `14.0` as the error below states).
[code]

[2017-07-11 07:16] tmds commented on #172
What's an xproj project? ;-)

[2017-07-11 07:16] #172 closed

[2017-07-18 04:32] sillyousu opened #263 "encounter FATAL UNHANDLED EXCEPTION with mono"
platform: macOS 10.12.5

mono --version
[code]

[code]

[2017-08-05 03:27] jamesqo opened #264 "Improve experience when the user passes --help, -help, -?, /?, or /help"
I didn't read the README thoroughly and tried the above switches to get the usage. Each one of them generates an exception:

[code]

Consider ignoring all other args and dumping the help if any of the args match `/?`, `-?`, `-help`, `--help`, or `/help`.

[2017-08-05 03:31] jamesqo opened #265 "Support .NET Core-style .csproj files"
The new `.csproj` files that begin with `<Project Sdk="Microsoft.NET.Sdk">` crash CodeFormatter badly:

[code]

[2017-08-08 12:35] philwindsor opened #266 "XUnitConverter not working"
I've had nothing but trouble trying to get this to work and have hit yet another issue.

[code]

The above code is from MSTestToXUnitConverter.cs. The issue is when it gets to the using statement for Microsoft.VisualStudio.TestTools.UnitTesting **symbolInfo.Symbol** is null so it doesn't hit the code inside the if statement

Does anyone know why this is and how to fix it? I'm using visual studio 2

[2017-08-09 17:19] kierenj opened #267 "Still in use / relevant?"
Hi - just checking if this project is a good one to adopt for projects moving forward?  Is there a roadmap for .NET Core support, etc?  Thanks!

[2017-08-14 23:59] daulet commented on #265
Duplicate of https://github.com/dotnet/codeformatter/issues/256?

[2017-08-15 00:13] jamesqo commented on #256
@RaviDesai Not strictly a command-line solution, however you can run the script [here](https://stackoverflow.com/a/15458340/4077294) from Visual Studio.

[2017-08-15 00:13] jamesqo commented on #265
@daulet Yep, this is a dupe.

[2017-08-15 00:13] #265 closed

[2017-08-15 12:47] RaviDesai commented on #256
@jamesqo Thanks for getting back to me.  Running it from VS (with all files open at the end) isn't really viable for me right now, but I appreciate the call out.

[2017-08-21 13:59] Ippo343 commented on #267
Seconded.

[2017-08-26 11:11] JonHanna opened #268 "Formatting of generic types in C#7 out declarations"
Given the line

[code]

The formatter produces
[code]

Seeming to take the `<` and `>` as operators rather than part of the generic type.

[2017-08-28 09:03] nojaf opened #269 "Add support for F#"
Maybe try to involve the people behind [fantomas](https://github.com/dungpa/fantomas).

[2017-09-20 04:03] aweiker commented on #267
It appears the answer to that question is a clear 👎

[2017-09-21 12:13] schweinsbauch commented on #267
1) last commit was on Nov 11, 2016
2) no response to an is it dead question
3) and the funny part https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md:
"We also use the .NET Codeformatter Tool to ensure the code base maintains a consistent style over time, the tool automatically fixes the code base to conform to the guidelines outlined above."

[2017-09-21 14:10] kierenj commented on #267
Well, that's fair enough, things move on.  But, just in case it makes a different, I hope those involved won't mind me tagging the last 3 committers to verify I should find another approach? - @jaredpar @alexsorokoletov @davkean

[2017-09-21 17:45] alexsorokoletov commented on #267
@kierenj indeed, I did not get any notifications on that project.
I guess Jared will have clearer picture. In my understanding, this approach (using Roslyn) is the most correct and straightforward. You can compile it against .NET/Mono and use the output.

I worked in a separate branch to run that thing using .NET Core but many dependencies are not yet there and there is some work to get them in.

[2017-09-21 17:52] alexsorokoletov commented on #269
This thing is based on Roslyn, which is C#/VB compiler infrastructure. For F# I am pretty sure you would have to have a separate tool. Which later might be incorporated into codeformatter just to have one tool for any .NET solution.

[2017-09-21 17:55] alexsorokoletov commented on #261
@kzu this should go into project system project https://github.com/dotnet/project-system most probably.
Updating dependencies to latest should fix all that automagically.

[2017-09-21 17:57] alexsorokoletov commented on #263
@sillyousu did you compile master and then ran?

[2017-09-21 17:58] alexsorokoletov commented on #262
@ohadschn can you please attach a repro project?

[2017-09-21 17:58] alexsorokoletov commented on #259
This is a good one! +1

[2017-09-21 18:00] alexsorokoletov commented on #239
@RazvanADumitru would be great if you could figure out which file causes that using exclusion?

[2017-09-21 18:28] danmosemsft commented on #267
@karelz also.

[2017-09-21 21:39] tiesmaster commented on #247
@alexsorokoletov Seeing you've been going through a number of issues on this project, how about this one? Interested in a PR for this?

[2017-09-22 00:55] davkean commented on #267
This isn't a supported tool or product. It was a "hey we have a bunch of code that we are opening sourcing that has different code styles - let's fix that". Along the road we made changes as we open sourced more code. As we've stopped porting code - we stopped need it as much.

We wrote it to scratch an itch - that itch has been scratched, so no focus on it anymore.

[2017-09-22 11:29] ohadschn commented on #262
Sure, try `ET4W.sln` here: https://github.com/ohadschn/ET4W/tree/master/src.

[2017-09-23 06:51] alexsorokoletov commented on #247
@tiesmaster I'm not a reviewer on this project :) did a contribution while ago.
@jaredpar is the boss ;)

[2017-09-23 06:56] alexsorokoletov commented on #267
@davkean
First of all, thank you for sharing this code and "product". I'm grateful we have it (and assume many of people who contributed to issues and PRs).

What we need to understand is the future of this repo/code/tool.
There is a number of PRs ready to be merged and many good (as far as I can see).

Do we fork that repo and go there and contribute in a new place?
Wondering what are your though

[2017-10-04 08:05] nojaf commented on #269
The F# team is doing an effort in https://github.com/Microsoft/visualfsharp/pull/3542.

[2017-10-04 08:05] #269 closed

[2017-10-12 05:37] sillyousu commented on #263
Sorry for the late reply. I will do further investigation and revisit this issue with more information later.
Closing for now.

[2017-10-12 05:37] #263 closed

[2017-10-24 18:16] SurferJeffAtGoogle commented on #267
FWIW, I wrote a 30-line powershell function that will convert a VS 2017 .csproj (including .NET core .csprojs) to a primitive VS 2015 .csproj, so codeformatter can still format my code.  It's a hack and a half, but it works for my purposes.  It's here:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/442e0ef50e58acc5e0414cef31801e394b932724/BuildTools.psm1#L460

[2018-03-13 04:50] Smilefounder opened #271 "Facing System.AggregateException with dotnet standard project"
Dear team,

I'm facing System.AggregateException with dotnet standard project. Could you help advise?

`
G:\_github\CodeFormatter>CodeFormatter Swastika-Heart\src\Swastika.Heart.sln
Swastika.Heart.sln

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> Microsoft.Build.Exceptions.InvalidProjectFileException: The default XML namespace of the project must be the MSBuild

[2018-03-13 09:27] jmarolf commented on #271
The issue is one of your projects is invalid.
[code]

[2018-03-14 21:33] terrajobst commented on #271
@jmarolf

Is it? Or is that we don't handle SDK-style projects?

[2018-03-22 17:45] challe commented on #201
Any updates on this?

[2018-05-02 00:52] barjonas opened #272 "Out parameters not handled correctly"
**Repro steps**

1. Add a module-scoped variable called _object myVariable_.
1. In a method body, call out to another method with an out parameter, _out object myVariable_.
1. Make an assignment, _this.myVariable = myVariable_.
1. Run everything through CodeFormatter with the default settings

**Expected behavior**

The module-scoped variable should be renamed __myVariable_. The method-scoped vari

[2018-05-31 02:31] ahsonkhan commented on #256
We are seeing the same issue for corefxlab as well.
[code]

[2018-06-29 13:23] iSazonov commented on #256
The same is in PowerShell Core project.

Is this project alive? Can we hope for a fix?

[2018-08-02 16:50] CatGirlsAreLife opened #274 "Does this allow custom code formatting too?"
Does this support custom code formatting, like to the formatting underlined at
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions only?

[2018-08-03 22:30] #241 closed

[2018-08-03 22:30] #255 closed

[2018-08-03 22:30] #256 closed

[2018-08-03 22:30] #258 closed

[2018-08-03 22:30] #261 closed

[2018-08-03 22:30] #262 closed

[2018-08-03 22:30] #268 closed

[2018-08-03 22:30] #271 closed

[2018-08-03 22:30] #272 closed

[2018-08-08 13:38] ghuntley commented on #201
CodeFormatter was a one time thing by Microsoft to bring their closed source code up to spec. It isn't maintained by Microsoft and there's no assigned owner. Huge shame.

Personally I have wasted so much energy over the years as a consultant, team-lead and open-source maintainer about code style. It's stupid. Languages should autoformat by default. Was going some golang this afternoon and one thin

[2018-08-17 05:59] csr-nick commented on #201
@ghuntley agree. This project is MIT licensed; is anyone up for forking it and fixing the outstanding issues?

[2018-10-09 13:11] ca0v opened #277 "ExplicitThisRule locks up on AssemblyInfo.cs"
Sample content:

[code]

[2018-10-09 13:12] #277 closed

[2018-11-12 14:03] gilescope commented on #199
.net core formatter would be great...

[2018-11-23 11:38] AllenLius opened #281 "Should convert "static readonly" field to Pascal style?"
A "static readonly" field more like a const field that can be changed only in static ctor.

[2018-11-28 12:10] lindexi commented on #281
Yes

[2018-11-28 12:59] AllenLius commented on #281
But I see the "static readonly" fields is converted to camel style with '_' prefix:
"static readonly Dictionary<string, int> _captureIndex".

[2018-11-28 13:00] stephentoub commented on #281
public static fields should be PascalCased.
internal and private static fields should be s_camelCased with the "s_" prefix.

[2018-11-28 13:16] AllenLius commented on #281
And I think "static readonly" should be PascalCased too instead of _camelCased in current behavior of the tool.

[2018-11-28 13:17] stephentoub commented on #281
I don't know what the current behavior of the tool is, but `readonly` should not influence the naming, at least as far as our style in corefx is concerned.

[2018-11-28 13:41] AllenLius commented on #281
For rule "12: We use PascalCasing to name all our constant local variables and fields".
A static readonly field just like a special const field that can be initialized inline or in the constructor method only, so I think we should use Pascal rule too.

[2018-11-28 13:43] stephentoub commented on #281
No, there's a difference between consts and static readonlys, and we have different naming rules for them.

[2018-11-29 07:09] lindexi commented on #281
@stephentoub as the [style](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md ) say it doesn't matter if you use or not to use an underline and whether it is public or not.

[2018-11-29 07:30] bartonjs commented on #281
@lindexi I'm not sure I follow.

This means the naming rules are:

* `private Foo _foo;`
* `private static Foo s_foo;`
* `[ThreadStatic] private static Foo t_foo;`
* `private readonly Foo _foo = InitializeFoo();`
* `private static readonly Foo s_foo = InitializeFoo();`
* `public Foo Foo;`
* `public static Foo Foo;`
* `[ThreadStatic] public static Foo Foo;`
  * This can only go poorly :smile:.
* `p

[2018-11-29 08:50] AllenLius commented on #281
You are right, the readonly doesn't influence the name style.

An exception is that the private const field should be in PascalCased:
`private const int Port = 80;`
I think it is just a little tricky if we what to read the port from a config file instead:
`private static readonly int s_port = GetHttpPort();`
then we need to update the name in code.

[2018-11-29 08:53] lindexi commented on #281
@AllenLius But I think the `const int` and `static readonly` has the same means.

[2018-11-29 09:09] AllenLius commented on #281
Yes, I'm on your side, the means for a dev is just the same: initialized once and should not be changed after that.
but the codeformatter is just follow the coding style of the donetcore.

[2018-11-29 09:11] bartonjs commented on #281
`const` values are replaced by the compiler with their constant value, so if you look at generated output IL you'd see the literal `80`.

`static readonly` means there's still a field-read.  If a debugger, or unsafe code, changed the static field value, that would have a runtime effect on all places that read it.

A subtle difference, but a difference nonetheless.

[2019-01-29 19:51] bradwilson commented on #106
This feature request is 3.5 years old. Is there any movement on supporting .NET Core, so we can run this tool outside of Windows? Or is that just a lost cause because of the way the tool is written? We would love to be able to run this during CI but our builds are all on Linux.

[2019-01-30 01:19] jmarolf commented on #106
@bradwilson 	might I interest you in this? https://github.com/dotnet/roslyn/tree/44157c305d95ab505a6401229f2153c26ba78353/src/Tools/dotnet-format

[2019-01-30 08:43] bradwilson commented on #106
@jmarolf Which parts of .editorconfig does this tool support? The docs didn't seem to indicate, and when I ran it across one of my sample projects, it made zero edits.

[2019-01-30 09:38] jmarolf commented on #106
@JoeRobich 	I though `dotnet format` supported all of the editorconfig options for .NET?

[2019-01-30 17:20] JoeRobich commented on #106
@bradwilson Sorry we were broken for a bit. There were some issues assembly resolution issues with the core 3.0.0 sdk. @sharwell has a fix in master for them. dotnet format is the equivalent of running Format Document from VS, so it should support all of the .editorconfig options.

[2019-02-14 10:45] hanabi1224 commented on #201
I recently made a fork of this repo and created a nuget package: [Dotnet.CodeFormatter.BuildTask.Fork/](https://www.nuget.org/packages/Dotnet.CodeFormatter.BuildTask.Fork/).  Hope it helps. @ghuntley @challe @csr-nick

[2019-02-15 13:38] jmarolf commented on #201
We hope https://github.com/dotnet/roslyn/tree/master/src/Tools/dotnet-format will be the replacement for this repo someday

[2019-02-15 14:44] sharwell commented on #201
🔗 Which is published here: https://www.nuget.org/packages/dotnet-format/

[2019-06-13 00:07] sbeyer commented on #267
When I was looking for an automatic C# style formatter, my used search engine showed up this project quite at the top. I am glad I looked further: [dotnet-format](https://github.com/dotnet/format) is probably the tool you should use today.

[2019-07-03 06:06] JayCroghan commented on #266
So this two year old issue hasn't been even commented on, I have the exact same issue in 2019. At first it wasn't even getting my list of usings because they are inside the namespace, but now that I figured that out and moved them it's returning Symbol as null here and ignoring the file.

[2019-08-24 17:52] mariohines opened #284 "XUnitConverter Not Working (with Mono)"
Hello. I'm using JetBrains Rider and Mono with the XUnitConverter trying to test it out locally before passing it off to colleagues regarding converting our MSTests to xUnit. This is the exception that I receive when it's trying to create the MSBuildWorkspace....

[code]

Would anyone happen to have a clue what this means? Has anyone encountered it before?

[2019-10-09 22:20] tiesmaster commented on #284
FWIW I've dusted off, and upgraded `XUnitConverter`. I've made this a [permanent fork](https://github.com/tiesmaster/xunit-converter), leaving behind this repo, since it's not being maintained anymore, and contributions are declined. @mariohines I don't know if you still benefit from this, I hope it does. Otherwise, maybe other people might benefit from this.

What I've done is upgraded `XUnitConv

[2020-04-20 19:53] dluc opened #288 "The first link in the README is broken"
see README link in the first paragraph

[2020-04-21 12:32] chrivo opened #289 "XUnitConverter does not work because project.DocumentIds is empty (Visual Studio 2019 unit test project)"
When calling XUnitConverter on a VS 2019 project there is no console ouput and the project keeps unchanged. I debugged into the code and in ConverterBase, line 20, project.DocumentIds is empty. which cases the converters to effectively not run. What could be the reason why there are no document IDs? The unit test project has one unit test source file with one test class in it.

[2020-04-21 12:38] chrivo commented on #247
@tiesmaster Seems this issue is closed. I see code that looks like it does replace TestInitialize and TestCleanup. I can not test it, though, becase I have another issue (wich I posted here, recently)

[2020-04-21 14:26] tiesmaster commented on #247
Hi @chrivo, exactly for this purpose I created a [permanent fork](https://github.com/tiesmaster/xunit-converter) out of this part of the project. See my rationale for that [here](https://github.com/tiesmaster/xunit-converter). In case you're wondering why I said: "it's not being maintained anymore, and contributions are declined". That has been my experience on this project, and that's backed by v

[2020-04-21 14:38] tiesmaster commented on #289
As mentioned [here](https://github.com/dotnet/codeformatter/issues/247#issuecomment-617214637), I think it's best if you try out my permanent fork ;)

[2020-04-21 20:16] chrivo commented on #247
@tiesmaster Thanks for your answer! I cloned your fork and it also doesn't work entirely. However, I'm getting much closer, but there is another issue. I posted this issue in your fork: https://github.com/tiesmaster/xunit-converter/issues/4. Let's have any further conversation on this there.

[2020-05-04 14:45] vxavictor513 commented on #288
I guess the corefx guide no longer exists, and is replaced by https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/coding-style.md

[2020-07-14 09:16] PeterJD opened #291 "unable to produce output files?"
A better examples would  help, how to produce output files

[2020-11-21 12:35] ivanivanyuk1993 opened #292 "Support linux"
There is nothing in documentation about running it on linux, which should be possible since net5

Please add linux support, or document how to run it on linux

[2020-11-27 08:18] tiesmaster commented on #292
FWIW [This is not really a supported project anymore](https://github.com/dotnet/codeformatter/issues/267), it has been superseeded by [dotnet-format](https://github.com/dotnet/format), which is supported, and is running on .NET Core / .NET 5.

[2020-11-27 10:50] ivanivanyuk1993 commented on #292
Ok, thanks for reply

[2020-12-05 19:52] #292 closed, assigned to nobody

[2021-04-22 09:14] #248 closed

[2021-10-19 23:20] #252 closed

[2022-02-17 21:46] fenildesai opened #294 "Not able to run xunitconverter for VS2019 project"
Hi,
I am trying to convert multiple MS Test projects to xunit test project in Visual Studio 2019.

I have installed Build Tools for Visual Studio 2019. I tried to run command xunitconverter testproject file in the solution folder but get error: xunitconverter is not a recognized command. NOt sure what I Am missing here but I am not able to get how to run the xunitconverter.

Any help will be great

[2022-02-21 14:13] tiesmaster commented on #294
First of all, I'd recommend not to take the "vanilla" xunitconverter from this repo, as it's really outdated, and doesn't run/build anymore, AFAICT. [I've forked it here](https://github.com/tiesmaster/xunit-converter), a while back, and got it up to speed, and working for latest .NET Framework, and .NET Core (it depends on what you're targetting, which one you need to pick: if your tests are .NET

[2022-04-21 03:51] #232 closed